extends ../layout

block title Contact | ColorBot Neural Network

block content
	.container
		form.form-horizontal(method='post', enctype='application/x-www-form-urlencoded')
			legend Hi, nice to meet you
			p &nbsp;

			.control-group
				label.control-label(for='name') Name
				.controls
					input#txtName(type='text', name='txtName', class='span4', placeholder='Name', value=form.txtName)
			.control-group
				label.control-label(for='txtEmail') Email
				.controls
					input#txtEmail(type='text', name='txtEmail', class='span4', placeholder='Email', value=form.txtEmail)
			.control-group
				label.control-label(for='txtMessage') Message
				.controls
					textarea#txtMessage(rows='4', name='txtMessage', class='span4') #{form.txtMessage}
			.form-actions
				button#btnSubmit.btn.btn-primary(type="submit") Send

		if status != null
			if status == 1
				h3 Thanks! Your message has been sent successfully.
			else
				h3 Please provide all fields and try again.