.container
	.footer
		hr(style='margin: 30px 0 10px 0;')
		p &copy;&nbsp;
			a(href='http://www.primaryobjects.com/kory-becker.aspx', target='_blank') Kory Becker
			&nbsp;2013

link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
link(rel='stylesheet', href='/css/style.css')
script(src='/scripts/bootstrap.min.js')
script(src='/scripts/jquery.filedrop.js')
script(src='/scripts/disqus.js')
script(src='/scripts/addthis.js')
script(src='http://s7.addthis.com/js/300/addthis_widget.js#pubid=surfer6')
script(src='/scripts/script.js')

block footer