.container
	.footer
		p &copy;&nbsp;
			a(href='http://www.primaryobjects.com/kory-becker.aspx', target='_blank') Kory Becker
			&nbsp;2013

link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
link(rel='stylesheet', href='/css/style.css')
script(src='/scripts/bootstrap.min.js')
script(src='/scripts/jquery.filedrop.js')
script(src='/scripts/script.js')

block footer