.container
	.masthead
		.pull-left
			h3.muted ColorBot Neural Network		
		.pull-right(style='margin: 20px 0 0 0;')
			.addthis_toolbox.addthis_default_style
				a.addthis_button_facebook_like(fb:like:layout='button_count')
				a.addthis_button_tweet
				a.addthis_counter.addthis_pill_style
		#clear(style='clear:both;')
		.navbar
			.navbar-inner
				.container
					ul.nav(id='topNavigation')
						li#home.active
							a(href='/') Home
						li#about
							a(href='/about') About
						li#contact
							a(href='/contact') Contact
						li
						li
						li