.container
	.masthead
		h3.muted ColorBot Neural Network
		.navbar
			.navbar-inner
				.container
					ul.nav(id='topNavigation')
						li#home.active
							a(href='/') Home
						li#about
							a(href='/about') About
						li#contact
							a(href='/contact') Contact
						li
						li
						li