!!!
html
	head
		block head
			block title
				title ColorBot Neural Network | Machine Learning Demo
			block meta
				meta(name='description', content='')
				meta(name='keywords', content='')
			link(rel='stylesheet', href='/css/bootstrap.min.css')
			script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
			script(src='/scripts/analytics.js')
	body
		include header

		block content

		include footer