extends ../layout

block title About | ColorBot Neural Network

block content
	.container
		.row-fluid
			.span12
				h1 About
				p ColorBot was created by 
					a(href='http://primaryobjects.com/kory-becker.aspx', target='_blank')
						| Kory Becker
					| . It uses machine learning (ie., artificial intelligence) to learn which pictures are generally red, green, or blue overall. It does this by using a trained neural network, which functions similar to the human brain. If you're curious on the nitty gritty details about how this works, you can read the full technical 
					a(href='http://primaryobjects.com/CMS/Article154.aspx', target='_blank') article
					| .
				p ColorBot was initially trained to 100% accuracy on a collection of 258 images. Each image was labeled as being red, green, or blue in nature. ColorBot used 
					a(href='http://en.wikipedia.org/wiki/Backpropagation', target='_blank') backpropagation
					|  to reduce the error rate while training, until it arrived at the target accuracy.
				p Once training was complete, ColorBot tried guessing the color on 470 images that it's never seen before. On this test set, it achieved an accuracy of 97.6%. Not bad!
		.row-fluid
			.span12
				h1 Try your own images
				p Since ColorBot is already trained to recognize a picture as red, green, or blue, you can try uploading your own image and seeing if it guesses correctly.
				p Keep in mind, a picture of people might be categorized as red, simply due to human skin color. Or it may be categorized as green, if it involves the outdoors, or perhaps blue, if it includes a bright blue sky.
				p Uploaded images must be 64x64 pixels in PNG format.
					em I know, kind of lame. If anyone can figure out how to resize an image in node.js on heroku, without installing a library like imagemagick on the server, let me 
						a(href='/contact') know
						| . :)
		.row-fluid
			.span12
				h1 What's inside?
				p ColorBot was created with Node.js, MongoDb, and Twitter Bootstrap.
				p It uses the 
					a(href='https://npmjs.org/package/brain', target='_blank') brain
					|  neural network library and stores the test pics in a nosql database, hosted with 
					a(href='http://www.mongolab.com', target='_blank') MongoLab
					| .
		.row-fluid
			.span12
				h1 Other Stuff
				p If you enjoyed this app, check out my other projects, including an interactive 
					a(href='http://primaryobjects.com/maze', target='_blank') maze solver 
					|  with artificial intelligence, a CD early withdrawal 
					a(href='http://cdcalc.herokuapp.com', target='_blank') calculator
					| , and AI articles about 
					a(href='http://primaryobjects.com/CMS/Article149.aspx', target='_blank') genetic algorithms
					| , and programs that write their own 
					a(href='http://primaryobjects.com/CMS/Article150.aspx', target='_blank') programs
					| .
				p AI, machine learning, and neural networks can be applied to a large variety of big data, data science, and data analysis tasks.
				p Potential ideas include finance, stock market, health, games, seo, and much more. Have a good idea? Get in touch and we can 
					a(href='/contact') chat
					| .